@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Interview.Web.Models.OrderDto 
@{
    
}

@if (Model == null)
{
    <h1>Order Not Found :-(</h1>
}
else
{
    <h1>Order: @Model.Id</h1>

    <p>
        Total: @Model.Total.ToString("C")
        Customer: @Model.CustomerName
        Created At: @Model.CreatedAt
    </p>

    @foreach (var item in Model.Items)
    {
        <p> @item.ProductName | @item.Quantity | @item.Price.ToString("C") </p>
    }

    <p>
        Order Total: @Model.Total.ToString("C")
    </p>
}